@import '../styleVariables/variables.scss';

.index.login{
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        height: 200px;
        // background-color: #ffffff;
        justify-content: center;
        input {
            min-width: 200px;
            color: black;
            border: none;
            border-radius: 7px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 20px;
            margin-bottom: 20px;
            &:focus{
                border: none;
                outline: none;
            }

        }
    }

}