@import '../variables.scss';

header {
    .header-add {
        display: flex;
        width: 100%;
        h1 {
            background-color: transparent;
        }

        .active {
            color: $base-active;
        }

        // .editing{


        // }
    }
}