@import "../variables.scss";
header {
    position: fixed;
    top: 0;
    // background-color: #ffd665;
    background: linear-gradient(0deg, #fff349 0%, #ffd665 100%);
    border-radius: 0px 0px 15px 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    z-index: 1;
    cursor: default;

    .back-button {
        position: fixed;
        margin-left: 30px;
        padding: 0px;
        background-image: url("../../../assets/img/back.svg");
        background-color: transparent;
        background-size: cover;
        border: none;
        width: 35px;
        height: 35px;
        cursor: pointer;
        &:hover{
            background-color:#ffecade7;
            box-shadow: #fffefcf8 0px 0px 30px 5px;
        }
    }
    .profile-button {
        position: fixed;
        top:20px;
        // margin-left: 30px;
        right: 30px;
        padding: 0px;
        background-image: url("../../../assets/img/default-profile-pic.svg");
        box-shadow: $base-shadow;
        background-color: transparent;
        background-size: cover;
        border: none;
        width: 35px;
        height: 35px;
        // box-shadow: $base-shadow;
        border-radius: 100%;
        cursor: pointer;
        &:hover{
            background-color:#ffecade7;
            box-shadow: #fffefcf8 0px 0px 30px 5px;
        }
    }

    h1 {
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 25px;
        padding-top: 5px;
        font-size: 40px; // border: 1px red solid;
    }
}