@import '../styleVariables/variables.scss';

.index-header {
    display: flex;
    background: transparent;
    margin-top: 30px;
    h1{
        font-size: 65px;
        color: $base-yellow;
    }
}