@import '../styleVariables/variables.scss';

.index {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    height: 100%;
    justify-content: end;
    background-image: url('../../../assets/img/index9.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(250, 250, 250);
    p{
        display: flex;
        z-index: 1;
        color: red;
        font-size: 22px;
        margin-bottom: 0px;
        padding-bottom: 20px;
    }
}
    .buttons{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 400px;
        button {
            min-width: 250px;
        height: 75px;
        border-radius: 50px;
        background-color: $base-yellow;
        color: #181818;
        box-shadow: $base-shadow;
        border: none;
        font-size: 42px;
        &:last-child{
            margin-bottom: 50px;
        }
        &:hover{
            cursor: pointer;
        }
    }
}
