@import "./variables.scss";

footer {
    background-color: #ffd665;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    border-radius: 20px 20px 0px 0px;
    z-index: 1;
    // border: 1px rgb(17, 0, 255) solid;
    // border: "1px black solid";

    .container {

        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        max-width: 800px;
        // border: 1px red solid;

        button {
            width: 35px;
            height: 35px;
            // border: 1px #1100ff solid;            padding: 0px;
            background-size: cover;
            border: none;
            opacity: 0.85;
            background-color: transparent;
            // border: none;
        }

        #reserved {
            background-image: url('../../assets/img/reservations.svg');
        }

        #home {
            background-image: url('../../assets/img/home.svg');
        }

        #profile {
            background-image: url('../../assets/img/profile.svg');
        }
    }

}