@import './variables.scss';

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
    row-gap: 30px;

    .row {
        scroll-margin: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 515px;
        min-height: 160px;
        // border: 1px blue solid;

        button {
            // border: 1px red solid;
            border-radius: 30px;
            min-width: 160px;
            min-height: 160px;
            width: 22vh;
            height: 22vh;
            border: none;
            // padding: 60px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
            opacity: 0.9;
            padding: 15px;
            // background-color: rgb(237, 237, 245);
            background-color: #ffd665;

            div {
                width: 60%;
                height: 60%;
                background-size: cover;
                // border: 1px red solid;
            }

            h1 {
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;
                justify-content: center;
                width: 100%;
                height: 30px;
                font-size: 36px; // border: 1px red solid;
            }

            #reserve {
                background-image: url("../../assets/img/find.svg");
            }

            #publish {
                background-image: url("../../assets/img/add.svg");

                &:hover {
                    background-image: url("../../assets/img/add-alt.svg");
                }
            }

            #edit {
                background-image: url("../../assets/img/edit.svg");
            }

            #history {
                background-image: url("../../assets/img/history.svg");
            }
        }
    }

}

.edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
    row-gap: 30px;

    form {
        display: flex;
        width: 200px;
        height: 200px;
        background-color: black;
    }
}

// .add {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width: 100%;
//     min-height: 80vh;
//     row-gap: 30px;

//     form {
//         display: flex;
//         width: 200px;
//         height: 200px;
//         background-color: black;
//     }
// }