@import './variables.scss';
// .map-wrapper {
// }
.map-container{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    height: 79%;
    margin-top: 10px;
    // border: 1px solid red;
}
.search{
    display: flex;
    justify-content: center;
    // border: red solid 1px;
    input{
        box-shadow: #00000026 0px 2px 8px;
        border-radius: 10px;
        // background-color: $base-yellow;    
        display: flex;
        // text-align: center;
        font-size: 22px;
        height: 50px;
        width: 91vw;
        max-width: 1270px;
        border: none;
        &:focus{
            font-size: 22px;
        }
    }
}