    @import './variables.scss';

    .card-row {
        *{
            text-decoration: none;
        }
        // border: 1px red solid;
        width: 90%;
        max-width: 600px;
        .card{
            display: flex;
            flex-direction: column;    
            color: $base-background;
            justify-content: center;
            text-decoration: none;
            background: url("../../assets/img/parking-marker.svg");
            background-repeat: no-repeat;
            background-position: 5cm 0cm;
            min-height: 160px;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
            opacity: 0.9;
            padding: 15px;
            background-color: rgb(255, 255, 255);
            .plus-icon{
                cursor: pointer;
            }
        h1{
            color: black;
            font-size: 26px;
            
        }
        h2{
            color: black;
            font-size: 26px;
        }
    }
    }