    @import './variables.scss';

    .card-row {
        *{
            text-decoration: none;
        }
        // border: 1px red solid;
        width: 90%;
        max-width: 600px;
        .card{
            text-decoration: none;
            display: flex;
            flex-direction: column;    
            color: $base-background;
            justify-content: center;
            background-image: url("../../assets/img/parking-marker.svg");
            background-repeat: no-repeat;
            background-position: 5cm 0cm;
            background-size: 6cm;
        h1{
            font-size: 40px;
            
        }
        h2{
            font-size: 36px;
        }
        border-radius: 30px;
        min-height: 160px;
        height: 22vh;
        border: none;
        // padding: 60px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        opacity: 0.9;
        padding: 15px;
        // background-color: rgb(237, 237, 245);
        background-color: rgb(57, 60, 255);

        &:hover {
            cursor: pointer;
        }
    }
    }