$base-yellow: rgb(255, 214, 102);
$base-background: rgb(244, 248, 250);
$base-active:rgb(241, 241, 241);
$base-isActive: rgba(0, 0, 0, 0.205) 0px 2px 8px;
$base-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;